allure-results/9fc2a61c-317f-4ceb-a2d5-8bff4a649487-testsuite.xml
allure-results/b14607b7-0a69-463f-acb8-c24b05a8efd0-testsuite.xml
allure-results/ce146cbc-ede0-4311-ac57-ac3e041b410b-testsuite.xml
allure-results/ef7eca02-3966-4f83-8a58-52eb5d50f437-testsuite.xml
screenshots/chrome-Demo Calculator Subtraction Test.png
target/screenshots/1121bddf3b45e49b699f96732970b872.png
target/screenshots/ef406420f8ea188292a0384e7ef7c72e.png
target/screenshots/my-report.html
xmlresults.xml
